# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

venv
__pycache__
tempCodeRunnerFile.py
tempCodeRunnerFile.python

.ruff_cache
typing-test.egg-info
build
dist
/Yr-12-HSC-SDD-Task-2
